.card {
    cursor: pointer;
    transition: all 250ms cubic-bezier(.25, .46, .45, .94) 0s;
    box-shadow: rgba(240, 58, 58, 0.69) 0px 26px 30px -10px,
    rgba(236, 68, 68, 0.73) 0px 16px 10px -10px;
    width: 10rem;
    height: 13rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 10rem;
    text-align: center;
    background: rgba(255, 255, 255, .26);
    border: 7px solid var(--orangeCard);
    /* box-shadow: var(--boxShadow); */
    border-radius: 20px;
    padding: 0px 26px 2rem 26px;
}

.card:hover {
    transform: scale(1.02);
    border-color: rgba(249, 249, 249, 0.8);
    box-shadow: rgba(173, 22, 22, 0.2) 0px 40px 58px -16px,
    rgba(231, 4, 4, 0.43) 0px 30px 22px -10px;
}

/* .card span:nth-child(1) {
    color: var(--black);
    color: var(--gray);
    font-size: 16px;
} */

.headin {
    color: var(--black);
    /* color: white; */

    font-size: 16px;
    font-weight: bold;
}

.detai {
    color: var(--gray);
}

/* .card > span:nth-child(2) {
    color: var(--gray);
    color: var(--gray);
    font-size: 16px;
} */

.card  > img {
    transform: scale(.6);
    margin-bottom: -2rem;
}

@media screen and (max-width: 480px) {
    .card {
      width: auto;
    }
  }

